@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Este site é mantido e operado por Elias E. Dalla Corte</p>
<p>Nós coletamos e utilizamos alguns dados pessoais que pertencem àqueles que utilizam nosso site. Ao fazê-lo, agimos na qualidade de controlador desses dados e estamos sujeitos às disposições da Lei Federeal n. 13.709/2018 (Lei Geral de Proteção de Dados Pessoais - LGPD)....</p>
